.imageUploadHeader{
    color: rgb(107, 107, 107);
}
.container{
  height:300px;
  width:100%;
  border: 1px dashed rgb(151, 151, 151);
  position: relative;
  z-index: 10;
}
.input{
  opacity: 0;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  position: absolute;
  
}
.browseButton{
  position:absolute;
  top:-50px;
  left:45%;
  z-index: 1;
}
.image{
   height: 100px;
   width: 100px;
  
}
.imageviewer{
  display:flex;
  width:500px;
  overflow:auto;
}
.imageview{
  position:relative;
}
.visibleDeleteButton{
  position: absolute;
  left: 1;
  
  background: rgb(243, 71, 71);
  border-radius: 50%;
  color: whitesmoke;
  box-shadow: none;
  border: 1px solid blanchedalmond;
}
.hideDeleteButton{
  position: absolute;
  left: 72px;
  display: none
}